<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to t("pages.home"), root_path %></li>
      <li><%= link_to t("pages.about-us"), pages_path("about-us") %></li>
    </ul>
  </nav>
</footer>
