.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */
 .jumbotron {
  margin-bottom: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

#cart{
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: yellow;
  text-align: center;
  color: blue;
}
